*.zip
/.vs
/LoanCalculatorBackend/.vs/LoanCalculator
/LoanCalculatorBackend/Business/LoanCalculator.Business/bin/Debug/net5.0
/LoanCalculatorBackend/Business/LoanCalculator.Business/obj
*.user
/LoanCalculatorBackend/Business/LoanCalculator.Interfaces/obj
/LoanCalculatorBackend/Business/LoanCalculator.Interfaces/bin/Debug/net5.0
/LoanCalculatorBackend/Business/LoanCalculator.Repositories/obj
/LoanCalculatorBackend/Business/LoanCalculator.Repositories/bin/Debug/net5.0
/LoanCalculatorBackend/Business/LoanCalculator.Services/obj
/LoanCalculatorBackend/Business/LoanCalculator.Services/bin/Debug/net5.0
/LoanCalculatorBackend/Business/LoanCalculator.UoW/obj
/LoanCalculatorBackend/Business/LoanCalculator.UoW/bin/Debug/net5.0
/LoanCalculatorBackend/Database/LoanCalculator.Domain/bin/Debug/net5.0
/LoanCalculatorBackend/Database/LoanCalculator.Domain/obj
/LoanCalculatorBackend/LoanCalculator.API/.vs/LoanCalculator.API
/LoanCalculatorBackend/LoanCalculator.API/obj
/LoanCalculatorBackend/LoanCalculator.API/bin/Debug/net5.0
/LoanCalculatorBackend/LoanCalculator.APITest/obj
/LoanCalculatorBackend/LoanCalculator.APITest/bin/Debug/.netcoreapp,version=v5.0
